[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-wtf = "*"
pycrypto = "*"
pymysql = "*"

[packages]
flask-dropzone = "*"
flask-admin = "*"

[requires]
python_version = "3.6"
